.root {
  display: flex;
  background-image: linear-gradient(
    -60deg,
    var(--mantine-color-blue-7) 0%,
    var(--mantine-color-blue-9) 100%
  );
  padding: calc(var(--mantine-spacing-xl) * 1.5);
  border-radius: var(--mantine-radius-md);
}

.title {
  color: var(--mantine-color-white)!important;
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: var(--mantine-font-size-sm)!important;
}

.count {
  color: var(--mantine-color-white) !important;
  font-size: 32px !important;
  line-height: 1 !important;
  font-weight: 700 !important;
  margin-bottom: var(--mantine-spacing-md);
  font-family:
    Greycliff CF,
    var(--mantine-font-family) !important;
}

.description {
  color: var(--mantine-color-blue-0);
  font-size: var(--mantine-font-size-sm);
  margin-top: 5px;
}

.stat {
  flex: 1;

  & + & {
    padding-left: var(--mantine-spacing-xl);
    margin-left: var(--mantine-spacing-xl);
    border-left: 1px solid var(--mantine-color-blue-3);

    /* @media (max-width: $mantine-breakpoint-sm) {
      padding-left: 0;
      margin-left: 0;
      border-left: 0;
      padding-top: var(--mantine-spacing-xl);
      margin-top: var(--mantine-spacing-xl);
      border-top: 1px solid var(--mantine-color-blue-3);
    } */
  }
}